.aluno {
  display: flex;
  border-radius: .25em;
  border: 1px solid black;
  overflow: hidden;
}

.aluno span.codigo {
  background-color: lightcoral;
  flex-basis: 5em;
  padding: .5em;
  text-align: right;
}

.aluno span.nome {
  background-color: lightgreen;
  flex-grow: 1;
  padding: .5em;
  text-align: left;
}
